<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marc.connect4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Connect4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Pantalles.Pantalla_log"></activity>
        <activity android:name=".Pantalles.BDDresults" />
        <activity android:name=".Pantalles.PantallaJoc" />
        <activity
            android:name=".Pantalles.Resultats"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Pantalles.ConfiguracioPartida" />
        <activity android:name=".Pantalles.Ajuda" />
        <activity android:name=".SharedPreferences.ConfiguracioPredeterminada" />
        <activity
            android:name=".Pantalles.Inicio"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name=".Pantalles.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>